html{
	margin : 0;
	padding : 0;
	height: 100%;
	width : 100%;
}

.content{
	padding-top : 5%;
	padding-right : 5%;
	padding-left : 5%;
}

.bottom-space{
	margin-bottom : 15px;
}

.comment-box{
	padding-top : 20px;
	padding-left : 3%;
	padding-right : 3%;
	border : 1px solid #D3D3D3;
	border-radius : 10px;
}

.comment-write{
	padding : 20px;
	border : 1px solid #D3D3D3;
	border-radius : 10px;
}

.comment-write-form{
	padding-left : 10px;
	padding-right : 10px;
	padding-top : 10px;
}

.max-width{
	width : 100%;
}

.small-font{
	font-size : small;
}

#enter-view{
	height:100%;
	
	background-image : url('../img/enter_back.jpg');
	background-repeat : no-repeat;
	background-size : cover;
	opacity : 0.5;
	padding-top: 20%;
	padding-right: 15%;
	padding-left : 15%;
	color : white;
	font-weight : bold;
}
